/* Font Family */
@font-face {
  font-family: helvetica-light;
  src: url(./fonts/helvetica-light.ttf);
}
@font-face {
  font-family: helvetica-regular;
  src: url(./fonts/helvetica-regular.ttf);
}
@font-face {
  font-family: helvetica-bold;
  src: url(./fonts/helvetica-bold.ttf);
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
li,
figure {
  margin: 0 !important;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
  font-family: helvetica-regular, sans-serif !important;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --blue-5: #091b6f;
  --blue-4: #0d28a6;
  --blue-3: #5e70c4;
  --blue-3: #aeb7e1;
  --blue-1: #cfd4ed;

  --green-5: #3d7b3f;
  --green-4: #5cb85f;
  --green-3: #92d094;
  --green-2: #c9e7ca;
  --green-1: #def1df;

  --alert-danger: #fa2c5a;
  --alert-warning: #f9cc00;
  --alert-success: #73ca5c;

  --neutral-5: #151515;
  --neutral-4: #3c3c3c;
  --neutral-3: #8a8a8a;
  --neutral-2: #d0d0d0;
  --neutral-1: #ffffff;
  --neutral-hero: #f1f3ff;

  --shadow-light: 0px 0px 4px rgba(0, 0, 0, 0.15);
  --shadow-high: 0px 0px 10px rgba(0, 0, 0, 0.15);

  --weight-light: 300;
  --weight-reg: 400;
  --weight-bold: 700;

  --body-10: 10px;
  --body-12: 12px;
  --body-14: 14px;

  --title-16: 16px;
  --title-18: 18px;

  --heading-20: 20px;
  --heading-24: 24px;
}

h1 {
  font-size: 2.25rem !important;
  font-family: helvetica-bold;
}

h2 {
  font-size: 1.5rem !important;
  font-family: helvetica-bold;
}

h3 {
  font-size: 1.25rem !important;
  font-family: helvetica-bold;
}

p,
a {
  color: var(--neutral-5);
  font-size: 1rem;
  font-family: helvetica-regular;
}

.btn-success {
  background-color: var(--green-4) !important;
  color: var(--neutral-1) !important;
  border-radius: 2px !important;
  border: none !important;
}

#nav-menu {
  background-color: var(--neutral-hero);
}

.navbar .nav-item {
  padding: 0 1rem;
}

#hero {
  background-color: var(--neutral-hero);
}

#services {
  background-color: var(--neutral-1);
}

#services .service-list li {
  background: url("./src/img_check.png") no-repeat left center;
  padding: 0.5rem 0 0.5rem 2.5rem;
  list-style: none;
  vertical-align: middle;
}

#whyus .base-wrap {
  min-height: 50vh;
}

#whyus .box h3 {
  padding: 1rem 0;
}

#whyus .box {
  min-height: 200px;
  height: 90%;
  padding: 1.5rem;
  border: 2px solid var(--neutral-2);
  border-radius: 0.5rem;
  margin: 1rem 0;
}

#testimonial .base-wrap {
  min-height: 50vh;
}

#testimonial .review-card {
  background-color: var(--neutral-hero);
  border-radius: 1rem;
  box-shadow: var(--shadow-light);
}

.carousel-control-prev,
.carousel-control-next {
  align-items: flex-end; /* Aligns it at the bottom */
}

#sewa-banner .base-wrap {
  background-color: var(--blue-4);
  min-height: 30vh;
}

#faq .cell-2 .accordion-header {
  font-size: 1rem;
  font-family: helvetica-regular;
}

#footer .address p {
  padding-bottom: 1rem;
}

#footer .socials img {
  padding: 1rem 1rem 1rem 0;
}

#footer .footer-nav li {
  display: block;
  padding: 0 0 1rem 0;
}

#footer .footer-nav a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
  #nav-menu .navbar {
    margin: auto;
    max-width: 540px;
  }

  #services {
    padding: 1rem 0;
    margin: auto;
    max-width: 540px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #nav-menu .navbar {
    margin: auto;
    max-width: 720px;
  }

  #services {
    padding: 1rem 0;
    margin: auto;
    max-width: 720px;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #nav-menu .navbar {
    margin: auto;
    max-width: 960px;
  }

  #services {
    padding: 1rem 0;
    margin: auto;
    max-width: 960px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #nav-menu .navbar {
    margin: auto;
    max-width: 1140px;
  }

  #services {
    padding: 1rem 0;
    margin: auto;
    max-width: 1140px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
  #nav-menu .navbar {
    margin: auto;
    max-width: 1320px;
  }

  #services {
    padding: 0;
    margin: auto;
    max-width: 1320px;
  }
}
